
<h1 class='title'>Konkurrenz Käufe</h1> 

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Auktion</th>
      <th>Model</th>
      <th>Verkaufsdatum</th>
      <th colspan="3"></th>
    </tr>  
  </thead>
  
  <tbody>  
    <tr>
      <% @competitor_cars.each do |cc| %>
      <% car_template = CarTemplate.find(cc.car_template_id) %>
      <td><%= cc.name %></td>
      <td><%= cc.auction %></td>
      <td><%= car_template.model %></td>
      <td><%= cc.sold_date %></td>
      <td><%= cc.sold_car_notices %></td>
      <td><%= link_to 'Bearbeiten', edit_competitor_car_path(id: cc) %></td>
      <td><%= link_to 'Löschen', competitor_car_path(id: cc, method: :delete, data: { confirm: 'Sind Sie sich sicher?' }) %></td>
    </tr>
  </tbody>
</table>      
</br>
