
<h1 class='title'>Konkurrenz Kauf</h1>  

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Auktion</th>
      <th>Model</th>
      <th>Verkaufsdatum</th>
      <th>Notiz</th>
      <th colspan="3"></th>
    </tr>  
  </thead>
  
  <tbody>  
    <tr>
      <% car_template = CarTemplate.find(@competitor_car.car_template_id) %>
      <td><%= @competitor_car.name %></td>
      <td><%= @competitor_car.auction %></td>
      <td><%= car_template.model %></td>
      <td><%= @competitor_car.sold_date %></td>
      <td><%= @competitor_car.sold_car_notices %></td>
      <td><%= link_to 'Bearbeiten', edit_competitor_car_path(id: @competitor_car) %></td>
      <td><%= link_to 'Löschen', competitor_car_path(id: @competitor_car, method: :delete, data: { confirm: 'Sind Sie sich sicher?' }) %></td>
    </tr>
  </tbody>
</table>  
</br>  
</br>  
</br>  