
<h1 class='title'>Verkauf</h1>  

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Marke</th>
      <th>Modell</th>
      <th>Chassi</th>
      <th>Land</th>
      <th colspan="3"></th>
    </tr>  
  </thead>
  
  <tbody>  
    <% car_template = CarTemplate.find(@order_car.car_template_id) %>
    <% customer = Customer.find(@order_car.customer_id) %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= car_template.brand %></td>
      <td><%= car_template.model %></td>
      <td><%= @order_car.chassi %></td>
      <td><%= @order_car.country %></td>
      <td><%= link_to 'Bearbeiten', edit_order_car_path(id: @order_car) %></td>
      <td><%= link_to 'Löschen', order_car_path(id: @order_car, method: :delete, data: { confirm: 'Sind Sie sich sicher?' }) %></td>
    </tr>
  </tbody>
</table>  
</br>  
</br>  
</br>  